@model  IEnumerable< Automarket.Domain.Entity.Car>;

@{
    //ViewData["Title"] = "GetCars";

    ViewBag.Title = "title";

    Layout = null;
}

@{ 
    foreach(var car in Model)
    {
        <p>@car.Model</p>
    }
}

